<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UrbanRivalsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UrbanRivalsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <UrbanRivalsManager.Properties.Settings>
      <setting name="CalculatorRow1Height" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CalculatorRow2Height" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CalculatorColumn1Width" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="CalculatorColumn2Width" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="CalculatorWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="CalculatorHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="CalculatorMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CalculatorTopPosition" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CalculatorLeftPosition" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="AccessKey" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessSecret" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value />
      </setting>
      <setting name="UICulture" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageCacheSizeInMB" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ImageCacheSlidingExpirationInSeconds" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="CalculatorStayOnTop" serializeAs="String">
        <value>True</value>
      </setting>
    </UrbanRivalsManager.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <UrbanRivalsManager.Properties.Settings>
      <setting name="ConsumerKey" serializeAs="String">
        <value>537eefd90eaf5a082c3b565d02d9148605374e6d9</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>a2420a1bf58e9beb862b223a05d35668</value>
      </setting>
    </UrbanRivalsManager.Properties.Settings>
  </applicationSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
